body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: #ffffff;
  color: #BBC4D6;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

div, input, a, img {
  box-sizing: border-box;
}

header {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05)
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.nav {
  margin: 0;
  display: flex;
  align-items: center;
  height: 80px;
}

.logo-img {
  margin-right: 61px;
}

.logo-img > img {
  width: 135px;
  height: 30px;

}

.search {
  margin-right: 60px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  width: 835px;
  border: 1px solid #EBEBF1;
  border-radius: 5px;
  height: 40px;
}
.search>label{
  width: 100%;
  margin-left: 9px;
}

.search > label > input {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #BBC4D6;
  border: none;

}

.search input:hover, .search input:focus, .search input:active {
  outline: none;
}

.desktop-line {
  width: 1px;
  height: 80px;
  border-right: 1px solid #EBEBF1;
  margin-right: 19px;
}

.user1 {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.user1:visited {
  color: #BBC4D6;
}

.name {
  margin-right: 10px;
}


.user2 {
  margin: 0;
  display: none;
}

.search-mobile {
  display: none;
}

.our-partners {
  margin-top: 70px;
  padding-bottom: 30px;
}

.heading {
  font-size: 36px;
  color: #121920;
  margin: 0;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 30px;
}

.partner {
  border: 1px solid #EBEBF1;
  width: 287.5px;
  height: 120px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner:hover {
  box-shadow: -3px 0 40px rgba(0, 0, 0, 0.1), 0 0 10px rgba(164, 164, 164, 0.03);
  cursor: pointer;
}

.logo2 {
  display: none;
}

.logo3 {
  display: none;
}

/* Responsive */
/* 768px-1280px */
@media screen and (max-width: 1279px) {
  .container {
    width: 728px;
  }

  .heading {
    font-size: 28px;
  }

  .logo-img {
    margin-right: 50px;
  }

  .search {
    width: 344px;
  }

  .partners {
    gap: 20px;
  }

  .partner {
    width: 229px;
  }

  .logo1 {
    display: none;
  }

  .logo2 {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 478px;
  }

  .logo-img {
    margin-right: 20px;
  }

  .search {
    width: 344px;
    margin-right: 20px;
  }
}

/* 0- 375px */
@media screen and (max-width: 538px) {
  .container {
    width: 335px;
  }

  .nav {
    height: 62px;
    justify-content: space-between;
  }

  .search-desktop, .desktop-line, .user1 {
    display: none;
  }

  .user2 {
    display: block;
  }

  .line-mobile {
    left: 0;
    position: absolute;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #BBC4D6;
  }

  .search-mobile {
    display: flex;
    width: 100%;
    border: none;
    height: 41px;
  }

  .partners {
    justify-content: center;
  }

  .partner {
    width: 335px;
    height: 140px;
  }

  .logo2 {
    display: none;
  }

  .logo3 {
    display: block;
  }


}